<div
  class="flex items-center mx-auto justify-between h-16 nav text-white lg:px-44 sm:px-4"
>
  <nav class="flex items-center space-x-4">
    <div class="flex items-center justify-center">
      <a href="/" class="hover:text-gray-400 p-1">
        <img src="../assets/images/education.png" />
      </a>
      <a class="hidden sm:block items-center justify-center mt-4"
        ><h2>Book Store</h2></a
      >
    </div>
  </nav>
  <input
    class="input px-32"
    [(ngModel)]="inputData"
    (ngModelChange)="onInputChange($event)"
    placeholder=" Search"
    type="text"
  />
  <div></div>
  <div class="flex items-center space-x-4">
    <a href="/cart" class="hover:text-gray-300 text-white p-4 flex"
      >Cart<svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6 ml-2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"
        />
      </svg>
    </a>

    <div class="relative">
      <div class="p-2 hover:text-gray-200 rounded-lg cursor-pointer">
        <div
          (click)="toggleDropdown()"
          class="hover:"
          *ngIf="userData != null; else elseBlock"
        >
          {{ userData.email }}
        </div>
        <ng-template #elseBlock>
          <a href="/login" class="text-white"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M18 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM3 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 9.374 21c-2.331 0-4.512-.645-6.374-1.766Z"
              />
            </svg>
          </a>
        </ng-template>
      </div>

      <!-- Dropdown content -->
      <div
        *ngIf="showDropdown"
        class="absolute right-0 mt-2 w-48 bg-white rounded-lg shadow-lg z-10"
      >
        <a
          href="/profile"
          class="block px-4 py-2 text-gray-800 hover:bg-gray-200"
          >profile</a
        >
        <a
          href="/"
          (click)="logout()"
          class="block px-4 py-2 text-gray-800 hover:bg-gray-200"
          >logout</a
        >
        <!-- Add more options as needed -->
      </div>
    </div>
  </div>
</div>
