<div class="flex items-center justify-between h-16 bg-gray-800 text-white px-4">
  <nav class="flex items-center space-x-4">
    <a href="#" class="hover:text-gray-400 p-4">Home</a>
    <a href="#" class="hover:text-gray-400 p-4">About Us</a>
    <a href="#" class="hover:text-gray-400 p-4">Contact</a>
    <a href="#" class="hover:text-gray-400 p-4">Shop</a>
  </nav>
  <div class="flex items-center space-x-4">
    <a href="#" class="hover:text-gray-400 p-4">Cart</a>
    <a href="#" class="hover:text-gray-400 p-4">Login</a>
  </div>
</div>
<div>
  <div class="bg-gray-100 w-screen justify-center items-center">
    <div class="bg-white p-16 pr-24 rounded-lg shadow-md">
      <!-- Label -->
      <label
        for="search"
        class="block text-gray-700 text-sm font-bold-md font-size-lg mb-2"
        >Find the book
      </label>
      <label for="search" class="block text-gray-700 text-sm font-bold mb-2"
        >you've been looking for</label
      >
      <!-- Search Bar -->
      <input
        id="search"
        type="text"
        placeholder="Search..."
        style="width: 50%"
        class="px-4 py-2 text-gray-700 bg-gray-200 rounded-md focus:outline-blue focus:bg-green focus:border-blue-500"
      />
    </div>
  </div>
</div>
