<div class="flex justify-center items-center w-full">
  <div class="w-full p-8 rounded-lg shadow-md flex items-center justify-center">
    <input
      type="text"
      placeholder="Search..."
      class="w-1/2 px-4 py-2 border border-gray-300 focus:outline-none focus:border-blue-500 rounded-l-lg"
    />
    <select
      class="px-2 bg-white border border-gray-300 focus:outline-none"
      style="padding: 10px"
    >
      <option selected disabled>Filter</option>
      <option>Option 1</option>
      <option>Option 2</option>
      <option>Option 3</option>
    </select>
    <button
      class="px-4 py-2 bg-blue-500 text-white hover:bg-blue-600 focus:outline-none rounded-r-lg"
    >
      Search
    </button>
  </div>
</div>
