<div>
  <div class="bg-gray-100 w-screen justify-center items-center">
    <div
      class="bg-white p-12 pr-24 rounded-b-3xl shadow-md bg-gray-200 flex justify-between"
    >
      <div>
        <label
          for="search"
          class="block text-gray-700 text-base font-bold-md font-size-lg mb-2"
          >Find the book
        </label>
        <label for="search" class="block text-gray-700 text-2xl font-bold mb-2"
          >you've been looking for</label
        >
        <!-- Search Bar -->
        <input
          id="search"
          type="text"
          placeholder="Search..."
          style="width: 100%"
          class="px-4 py-2 text-gray-700 bg-gray-200 rounded-md focus:outline-blue focus:bg-green focus:border-blue-500"
        />
      </div>
    </div>
  </div>
</div>
