<header></header>
<div class="min-h-screen">
  <div class="justify-center items-center flex mt-32">
    <div class="orderImg flex justify-center items-center">
      <!-- Added relative positioning -->
      <img class="img" src="../assets/images/Group 4132@2x.png" />
      <div class="centered">Order Placed Successfully</div>
      <!-- Text to be centered -->
    </div>
  </div>
  <div class="justify-center items-center flex mt-12 px-32">
    <p class="font-medium text-lg text-gray-700 text-center">
      hurray!!! your order is confirmed<br />
      the order id is #123456 save the order id <br />for further
      communicamation..
    </p>
  </div>

  <div
    class="flex justify-center tableDiv items-center lg:px-72 mb:px-20 sm:px-28"
  >
    <table class="text-sm">
      <thead class="thead">
        <tr>
          <th scope="col" class="">Email us</th>
          <th scope="col" class="">Contact us</th>
          <th scope="col" class="">Address</th>
        </tr>
      </thead>
      <tbody>
        <tr class="tr">
          <td class="p-6">heeneth123gmail.com</td>
          <td class="p-6">+91 6304781014</td>
          <td class="p-6">
            42, 14th Main, 15th Cross, Sector 4 ,opp to BDA complex, near
            Kumarakom restaurant, HSR Layout, Bangalore 560034
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="justify-center items-center flex rounded-lg mt-12">
    <div>
      <a href="/">
        <button class="text-white shippingButton p-2 px-4">
          CONTINUE SHOPPING
        </button>
      </a>
    </div>
  </div>
</div>
