<header></header>
<div class="container mx-auto mt-12">
  <div class="flex-col cartContainer">
    <div
      class="grid gap-4 p-2 grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4"
    >
      <div
        class="cartCard py-12 pl-6 flex justify-between space-x-2 transition duration-300 transform hover:-translate-y-1 hover:shadow-lg"
        *ngFor="let item of data"
      >
        <div class="flex">
          <div class="">
            <img
              class="img"
              src="../assets/images/{{ item.bookEntity.bookLogo }}"
              alt="Book Logo"
            />
          </div>
          <div>
            <p class="bookName">
              {{ item.bookEntity.bookName }}
            </p>
            <p class="text-sm text-gray-600">
              by {{ item.bookEntity.bookAuthor }}
            </p>
            <p class="bookPrize">
              Rs.
              {{ item.bookEntity.bookPrize }}
            </p>
            <div>
              <div class="flex justify-between items-center">
                <div>
                  <form class="max-w-xs mx-auto">
                    <div class="relative flex items-center max-w-[8rem]">
                      <button
                        type="button"
                        data-input-counter-decrement="quantity-input"
                        class="svg"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 20 20"
                          fill="currentColor"
                          class="w-2 h-2"
                        >
                          <path
                            fill-rule="evenodd"
                            d="M4 10a.75.75 0 0 1 .75-.75h10.5a.75.75 0 0 1 0 1.5H4.75A.75.75 0 0 1 4 10Z"
                            clip-rule="evenodd"
                          />
                        </svg>
                      </button>
                      <input
                        type="text"
                        class="input mx-2"
                        placeholder="999"
                        value="1"
                        required
                      />
                      <button
                        type="button"
                        id="increment-button"
                        data-input-counter-increment="quantity-input"
                        class="svg"
                      >
                        <svg
                          class="w-2 h-2"
                          aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 18 18"
                        >
                          <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M9 1v16M1 9h16"
                          />
                        </svg>
                      </button>
                    </div>
                  </form>
                </div>

                <div>
                  <button
                    (click)="removeFormCartByCartID(item.cartId)"
                    class="remove mx-6"
                  >
                    Remove
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="placeOrderDiv">
      <button class="placeOrder p-2 px-8 m-6" (click)="getUserAddressByjwt()">
        Place order
      </button>
    </div>
  </div>
  <div>
    <div>
      <div
        class="detailCard p-4 space-x-4 transition duration-300 transform hover:-translate-y-1 hover:shadow-lg mt-8"
      >
        <div>
          <h1>Customer Details</h1>
        </div>

        <div *ngIf="toggleCustomer" class="flex-col">
          <div class="flex justify-left">
            <div class="formDiv">
              <form action="">
                <div class="">
                  <div class="flex py-2">
                    <input
                      class="customerInput"
                      placeholder="Name"
                      type="text"
                      value="heeneth"
                    />
                    <input
                      class="customerInput"
                      placeholder="Phone number"
                      type="number"
                      value="{{ address.phoneNumber }}"
                    />
                  </div>
                  <div class="flex py-2">
                    <input
                      class="customerInput"
                      placeholder="Pincode"
                      type="text"
                      [value]="address.pinCode"
                    />
                    <input
                      class="customerInput"
                      placeholder="Locality"
                      type="text"
                      [value]="address.locality"
                    />
                  </div>
                  <div class="py-2">
                    <textarea
                      class="textarea"
                      placeholder="Address"
                      [value]="address.address"
                    >
                    </textarea>
                  </div>
                  <div class="flex py-2">
                    <input
                      class="customerInput"
                      placeholder="city"
                      type="text"
                      [value]="address.city"
                    />
                    <input
                      class="customerInput"
                      placeholder="Landmark"
                      type="text"
                      [value]="address.landmark"
                    />
                  </div>
                  <div class="flex justify-left">
                    <div class="mr-8">
                      <input placeholder="Name" type="radio" />
                      <label>Home</label>
                    </div>
                    <div class="mr-8">
                      <input placeholder="Name" type="radio" />
                      <label>Work</label>
                    </div>
                    <div class="mr-8">
                      <input placeholder="Name" type="radio" />
                      <label>Other</label>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <div class="button-container">
            <button (click)="toggleOrderSummary()" class="continue px-12">
              CONTINUE
            </button>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div
        class="orderCard p-4 items-center space-x-4 transition duration-300 transform hover:-translate-y-1 hover:shadow-lg mt-8 border-1"
      >
        <div>
          <h1 class="orderSummery">Order Summery</h1>
        </div>
        <div *ngIf="showOrderSummary">
          <div
            class="grid gap-4 p-2 grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3"
          >
            <div class="flex" *ngFor="let item of data">
              <div>
                <img
                  class="img"
                  src="../assets/images/{{ item.bookEntity.bookLogo }}"
                />
              </div>
              <div>
                <h3 class="font-bold">{{ item.bookEntity.bookName }}</h3>
                <p class="text-sm">by {{ item.bookEntity.bookAuthor }}</p>
                <p class="text-sm">Rs. {{ item.bookEntity.bookPrize }}</p>
              </div>
            </div>
          </div>
          <div class="my-4 p-4">
            <button
              class="checkout p-2 px-6"
              (click)="confirmOrder()"
              (click)="placeOrder()"
            >
              CHECKOUT
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
