.sendOTP {
  background-color: brown;
  color: white;
  padding: 10px;
  border-radius: 2px;
}
.inputOTP {
  padding: 10px;
  border: 1px solid black;
}
.loadingSVG {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img {
  height: 85px;
  width: 85px;
  border-radius: 50%;
}
