<div [ngStyle]="{ filter: loadingSvg == true ? 'blur(2px)' : 'blur(0)' }">
  <div class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="bg-white p-8 rounded shadow-md max-w-md w-full">
      <h2 class="text-2xl font-semibold mb-6 text-center justify-center">
        Forgot password
      </h2>

      <div class="flex justify-center">
        <div>
          <input
            [(ngModel)]="email"
            class="inputOTP"
            type="email"
            placeholder="Email"
          />
        </div>
        <div>
          <button class="sendOTP" (click)="sendOTPtoUser()">send OTP</button>
        </div>
      </div>
      <div class="mt-6 text-center">
        <p class="text-sm text-gray-600">Enter the valid email to send OTP</p>
      </div>

      <div class="mt-6 text-center">
        <p class="text-sm text-gray-600">
          Don't have an account?
          <a
            href="/UserReg"
            class="font-medium text-gray-600 hover:text-indigo-500"
            >Sign up here</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
<div *ngIf="loadingSvg" class="loadingSVG z-10">
  <img src="./assets/images/Double.gif" />
  <!-- <img
    src="https://i.pinimg.com/originals/65/ba/48/65ba488626025cff82f091336fbf94bb.gif"
  /> -->
</div>
