<header (updatedName)="GetData($event)"></header>
<search-bra></search-bra>
<div class="lg:px-44 sm:px-4">
  <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-10">
    <div
      *ngFor="let item of filteredBooks"
      class="shadow-sm bookCard overflow-hidden"
    >
      <div class="imgDiv py-4">
        <img
          src="../assets/images/{{ item.bookLogo }}"
          alt="Book Cover"
          class="h-48 bookImg object-cover hover:scale-110 transition duration-500"
        />
      </div>
      <div class="p-4 px-8">
        <div class="flex justify-between items-center">
          <h3 class="bookName">
            {{ item.bookName }}
          </h3>
          <h5 class="text-lg font-medium font-bold text-gray-900"></h5>
        </div>
        <p class="text-gray-700">{{ item.bookDescription }}</p>
        <p class="text-gray-700">
          <span class="font-bold">Rs. {{ item.bookPrize }}</span>
        </p>

        <div
          class="flex justify-between items-center"
          *ngIf="!isAddedToCart(item.bookId); else addedToCartButton"
        >
          <button (click)="addToCart(item.bookId)" class="addButton p-2">
            Add TO BAG
          </button>
          <button class="wishlistButton p-2">WISHlIST</button>
        </div>
        <ng-template #addedToCartButton>
          <button class="addedToBag p-2">ADDED TO BAG</button>
        </ng-template>
      </div>
    </div>
  </div>
</div>
